<%- include('header') -%>
<%- include('navbar') -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><%= bibliocrat.username %></h1>
</div>

<div class="container">
  <div class="row">
    <aside class="col-4">
      <div class="card">
      	<article class="card-group-item">
      		<header class="card-header d-flex justify-content-center" style="background-color: #68A891;">
      			<h6 class="title text-light">Rólad</h6>
      		</header>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
          <div class="col-md-12">
            <h6>Mottó: <%= bibliocrat.motto %></h6>
          </div>
          <div class="col-md-12">
            <div class="dropdown-divider"></div>
            <h6>Életkor: <%= bibliocrat.age %></h6>
          </div>
          <div class="col-md-12">
            <div class="dropdown-divider"></div>
            <h6>Nem: <%= bibliocrat.gender %></h6>
          </div>
        </article> <!-- card-group-item.// -->
        <article class="card-group-item">
          <footer class="card-footer d-flex justify-content-center" style="background-color: #68A891;">
            <a class="btn btn-outline-light my-2 my-sm-0" href="/bibliocrat/edit" type="submit">módosítsd a profilodat</a>
          </footer>
        </article> <!-- card-group-item.// -->
      </div>
    </aside>

    <aside class="col-8">
      <article class="card-group-item">
      <p class="lead text-justify">
        <%= bibliocrat.story %>
      </p>

      </article> <!-- card-group-item.// -->
    </aside>

  </div>

  <div class="row">
    <aside class="col-12">
      <h2 class="display-5">Könyvtárad</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cím</th>
            <th scope="col">Szerző</th>
            <th scope="col">ISBN</th>
            <th scope="col">Átlag életkor</th>
            <th scope="col">Bib score</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% bibs.forEach(function(oneBib){ %>
            <tr>
              <td><a type="button" href="/bib/<%= oneBib._id %>" class="btn btn-outline-secondary"><%= oneBib.title %></a></td>
              <td><%= oneBib.author%></td>
              <td><%= oneBib.ISBN%></td>
              <td><%= oneBib.average_age%></td>
              <td><%= oneBib.bib_score%></td>
              <td>
                <form class="container" method="POST">
                  <input type="hidden" id="removeBibID" name="removeBibID" value='<%= oneBib._id%>'/>
                  <input class="btn btn-outline-danger my-2 my-sm-0 col-10" id="removeBib" name="removeBib" type="submit" value="törlés"/>
                </form>
              </td>
            </tr>
          <% }); %>
          <!-- <tr>
            <td><a type="button" href="bib.html" class="btn btn-outline-secondary">Túz és jég dala</a></td>
            <td>G.R.R. Martin</td>
            <td>14225</td>
            <td>29</td>
            <td></td>
            <td></td>
            <td><button class="btn btn-outline-danger my-2 my-sm-0 col-10" type="submit">törlés</button></td>
          </tr>
          <tr>
            <td><a type="button" href="bib.html" class="btn btn-outline-secondary">Harry Potter</a></td>
            <td>J.K. Rowling</td>
            <td>14426</td>
            <td>23</td>
            <td></td>
            <td></td>
            <td><button class="btn btn-outline-danger my-2 my-sm-0 col-10" type="submit">törlés</button></td>
          </tr>
          <tr>
            <td><a type="button" href="bib.html" class="btn btn-outline-secondary">Silmarillion</a></td>
            <td>J.R.R. Tolkien</td>
            <td>14427</td>
            <td>35</td>
            <td></td>
            <td></td>
            <td><button class="btn btn-outline-danger my-2 my-sm-0 col-10" type="submit">törlés</button></td>
          </tr> -->
        </tbody>
      </table>
    </aside>

    <aside class="col-8">
    </aside>

  </div>
</div>

<%- include('footer') -%>
